[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
requests = "*"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
ddtrace = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
